@page "/"
@using BlazorQuest.Data;
@inject QuestService _questService;
<PageTitle>BlazorQuest</PageTitle>

@if (Quest == null)
{
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="text-primary">Welcome to BlazorQuest</h1>
                <h3 class="text-primary">Select Quest below to start:</h3>
            </div>
        </div>
        @foreach (var questKey in _questService.QuestTitleMap.Keys)
        {
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-primary" @onclick="() => StartQuest(questKey)">@_questService.QuestTitleMap[questKey]</button>
                </div>
            </div>
        }
    </div>
} 
else if (CurrentQuestPath != null)
{
    <b class="text-primary">@CurrentQuestPath.Text</b>
    <br />
    @if (CurrentQuestPath.Options != null)
    {
        @foreach (var option in CurrentQuestPath.Options)
        {
            if (option.Text == "Ask for a Hint")
            {
                <button class="btn btn-primary" @onclick="() => ShowHint(option.Goto)">@option.Text</button>
            } 
            else
            {
                <button class="btn btn-primary" @onclick="() => GoTo(option.Goto)">@option.Text</button>
            }
            <br />
        }

        if (!string.IsNullOrEmpty(HintText))
        {
            <div class="alert alert-dark" role="alert">
                @HintText
            </div>
        }
    }
} else
{
    <b class="text-primary">Oops. Unknown path.</b>
    <button class="btn btn-primary" @onclick="() => GoTo(null)">Start again</button>
}

@code {
    protected IDictionary<string, QuestPath> Quest { get; set; }

    protected string CurrentPath = "start";
    protected QuestPath? CurrentQuestPath;

    protected string? HintText;

    protected void StartQuest(QuestKey quest)
    {
        InvokeAsync(() =>
        {
            Quest = _questService.LoadQuest(quest);
            CurrentQuestPath = Quest[CurrentPath];
            StateHasChanged();
        });
    }

    protected void ShowHint(string path)
    {
        if (Quest.ContainsKey(path))
        {
            var hintPath = Quest[path];
            HintText = hintPath.Text;
        } else
        {
            HintText = "Oops. Missing hint.";
        }
    }

    protected void GoTo(string? path)
    {
        InvokeAsync(() =>
        {
            if (string.IsNullOrWhiteSpace(path))
            {
                path = "start";
            }
            CurrentPath = path;
            if (Quest.ContainsKey(CurrentPath))
            {
                CurrentQuestPath = Quest[CurrentPath];
            } else
            {
                CurrentQuestPath = null;
            }
            HintText = string.Empty;
            StateHasChanged();
        });
    }
}
